In [22]:
import chess.pgn

games = open("lichess_db_standard_rated_2014-09.pgn", encoding="utf8", errors='ignore')

In [7]:
result = {}
i = 0
while True:
    i += 1
    game = chess.pgn.read_game(games)
    if game is None:
        break

    headers = dict(game.headers)
    headers["moves"] = game.board().variation_san(game.mainline_moves())
    headers["move_num"] = headers["moves"].count('.')

    result["Game{}".format(i)] = headers

In [9]:
import pandas as pd
results = pd.DataFrame(result)
df = results.transpose()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000056 entries, Game1 to Game1000056
Data columns (total 21 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   Event            1000056 non-null  object
 1   Site             1000056 non-null  object
 2   Date             1000056 non-null  object
 3   Round            1000056 non-null  object
 4   White            1000056 non-null  object
 5   Black            1000056 non-null  object
 6   Result           1000056 non-null  object
 7   BlackElo         1000056 non-null  object
 8   BlackRatingDiff  999325 non-null   object
 9   ECO              1000056 non-null  object
 10  Opening          1000056 non-null  object
 11  Termination      1000056 non-null  object
 12  TimeControl      1000056 non-null  object
 13  UTCDate          1000056 non-null  object
 14  UTCTime          1000056 non-null  object
 15  WhiteElo         1000056 non-null  object
 16  WhiteRatingDiff  999325 non-null   object
 17  moves            1000056 non-null  object
 18  move_num         1000056 non-null  object
 19  BlackTitle       2196 non-null     object
 20  WhiteTitle       2156 non-null     object
dtypes: object(21)
memory usage: 167.9+ MB

In [10]:
import numpy as np

df['winner'] = np.where(df['Result'] == '1-0', 'white', 
                         np.where(df['Result'] == '0-1', 'black', 'draw'
                         ))
df.head()

,Event,Site,Date,Round,White,Black,Result,BlackElo,BlackRatingDiff,ECO,...,TimeControl,UTCDate,UTCTime,WhiteElo,WhiteRatingDiff,moves,move_num,BlackTitle,WhiteTitle,winner
Game1,Rated Bullet game,https://lichess.org/1Vimq9SL,????.??.??,?,KACHAL,justplaybi,0-1,1823,+12,A06,...,120+0,2014.08.31,22:00:33,1833,-11,1. e4 d5 2. Nf3 dxe4 3. Ne5 Nf6 4. d4 exd3 5. ...,32,NaN,NaN,black
Game2,Rated Blitz game,https://lichess.org/PK5H93NR,????.??.??,?,mustroll,pelao,1-0,1658,-13,A00,...,240+2,2014.08.31,22:00:53,1600,+13,1. b4 e5 2. Bb2 d6 3. c3 Bf5 4. d3 Nf6 5. e4 B...,67,NaN,NaN,white
Game3,Rated Bullet game,https://lichess.org/br0KfpXd,????.??.??,?,luciano2000,amnezia,1-0,1790,-12,B01,...,60+0,2014.08.31,22:00:03,1754,+13,1. e4 d5 2. exd5 Qxd5 3. Nc3 Qa5 4. Nf3 Nf6 5....,39,NaN,NaN,white
Game4,Rated Blitz game,https://lichess.org/4CnlXUB0,????.??.??,?,martinz,HighP,1-0,1650,-13,C42,...,300+0,2014.08.31,22:00:17,1601,+13,1. e4 e5 2. Nf3 Nf6 3. Nc3 d6 4. Bc4 Be6 5. Qe...,26,NaN,NaN,white
Game5,Rated Bullet game,https://lichess.org/X9Q96D1l,????.??.??,?,Thoth33,JaiSkiesNY,1-0,1545,-7,D31,...,60+0,2014.08.31,22:00:04,1657,+10,1. d4 e6 2. c4 c6 3. Nc3 d5 4. cxd5 cxd5 5. e4...,29,NaN,NaN,white

In [11]:
chessdf = df[df['winner']!='draw']
chessdf.head()

,Event,Site,Date,Round,White,Black,Result,BlackElo,BlackRatingDiff,ECO,...,TimeControl,UTCDate,UTCTime,WhiteElo,WhiteRatingDiff,moves,move_num,BlackTitle,WhiteTitle,winner
Game1,Rated Bullet game,https://lichess.org/1Vimq9SL,????.??.??,?,KACHAL,justplaybi,0-1,1823,+12,A06,...,120+0,2014.08.31,22:00:33,1833,-11,1. e4 d5 2. Nf3 dxe4 3. Ne5 Nf6 4. d4 exd3 5. ...,32,NaN,NaN,black
Game2,Rated Blitz game,https://lichess.org/PK5H93NR,????.??.??,?,mustroll,pelao,1-0,1658,-13,A00,...,240+2,2014.08.31,22:00:53,1600,+13,1. b4 e5 2. Bb2 d6 3. c3 Bf5 4. d3 Nf6 5. e4 B...,67,NaN,NaN,white
Game3,Rated Bullet game,https://lichess.org/br0KfpXd,????.??.??,?,luciano2000,amnezia,1-0,1790,-12,B01,...,60+0,2014.08.31,22:00:03,1754,+13,1. e4 d5 2. exd5 Qxd5 3. Nc3 Qa5 4. Nf3 Nf6 5....,39,NaN,NaN,white
Game4,Rated Blitz game,https://lichess.org/4CnlXUB0,????.??.??,?,martinz,HighP,1-0,1650,-13,C42,...,300+0,2014.08.31,22:00:17,1601,+13,1. e4 e5 2. Nf3 Nf6 3. Nc3 d6 4. Bc4 Be6 5. Qe...,26,NaN,NaN,white
Game5,Rated Bullet game,https://lichess.org/X9Q96D1l,????.??.??,?,Thoth33,JaiSkiesNY,1-0,1545,-7,D31,...,60+0,2014.08.31,22:00:04,1657,+10,1. d4 e6 2. c4 c6 3. Nc3 d5 4. cxd5 cxd5 5. e4...,29,NaN,NaN,white

In [30]:
import pickle

with open('2014_09_chess_data.pickle', 'wb') as to_write:
        pickle.dump(chessdf, to_write)

In [13]:
has_white_elo = chessdf[chessdf['WhiteElo'] != '?']

In [14]:
has_black_elo = has_white_elo[has_white_elo['BlackElo'] != '?']

In [15]:
has_black_elo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 962968 entries, Game1 to Game1000056
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Event            962968 non-null  object
 1   Site             962968 non-null  object
 2   Date             962968 non-null  object
 3   Round            962968 non-null  object
 4   White            962968 non-null  object
 5   Black            962968 non-null  object
 6   Result           962968 non-null  object
 7   BlackElo         962968 non-null  object
 8   BlackRatingDiff  962315 non-null  object
 9   ECO              962968 non-null  object
 10  Opening          962968 non-null  object
 11  Termination      962968 non-null  object
 12  TimeControl      962968 non-null  object
 13  UTCDate          962968 non-null  object
 14  UTCTime          962968 non-null  object
 15  WhiteElo         962968 non-null  object
 16  WhiteRatingDiff  962315 non-null  object
 17  moves            962968 non-null  object
 18  move_num         962968 non-null  object
 19  BlackTitle       2083 non-null    object
 20  WhiteTitle       2078 non-null    object
 21  winner           962968 non-null  object
dtypes: object(22)
memory usage: 169.0+ MB

In [16]:
chess_games = has_black_elo[['BlackElo', 'WhiteElo', 'moves', 'move_num', 'winner']]
chess_games.head()

,BlackElo,WhiteElo,moves,move_num,winner
Game1,1823,1833,1. e4 d5 2. Nf3 dxe4 3. Ne5 Nf6 4. d4 exd3 5. ...,32,black
Game2,1658,1600,1. b4 e5 2. Bb2 d6 3. c3 Bf5 4. d3 Nf6 5. e4 B...,67,white
Game3,1790,1754,1. e4 d5 2. exd5 Qxd5 3. Nc3 Qa5 4. Nf3 Nf6 5....,39,white
Game4,1650,1601,1. e4 e5 2. Nf3 Nf6 3. Nc3 d6 4. Bc4 Be6 5. Qe...,26,white
Game5,1545,1657,1. d4 e6 2. c4 c6 3. Nc3 d5 4. cxd5 cxd5 5. e4...,29,white

In [19]:
chess_games['Black_Elo_Num'] = chess_games['BlackElo'].astype(int)
chess_games['White_Elo_Num'] = chess_games['WhiteElo'].astype(int)

<ipython-input-19-2964f1bee847>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chess_games['Black_Elo_Num'] = chess_games['BlackElo'].astype(int)
<ipython-input-19-2964f1bee847>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chess_games['White_Elo_Num'] = chess_games['WhiteElo'].astype(int)

In [20]:
chess_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 962968 entries, Game1 to Game1000056
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   BlackElo       962968 non-null  object
 1   WhiteElo       962968 non-null  object
 2   moves          962968 non-null  object
 3   move_num       962968 non-null  object
 4   winner         962968 non-null  object
 5   Black_Elo_Num  962968 non-null  int64
 6   White_Elo_Num  962968 non-null  int64
dtypes: int64(2), object(5)
memory usage: 58.8+ MB

In [21]:
chess_games.describe()

       Black_Elo_Num  White_Elo_Num
count  962968.000000  962968.000000
mean     1626.560238    1631.789059
std       239.517448     236.951933
min       737.000000     751.000000
25%      1468.000000    1473.000000
50%      1623.000000    1630.000000
75%      1784.000000    1789.000000
max      2711.000000    2708.000000

In [23]:
over_1600 = chess_games[(chess_games['White_Elo_Num'] >= 1600) & (chess_games['Black_Elo_Num'] >= 1600)]
over_1600.info()

<class 'pandas.core.frame.DataFrame'>
Index: 410502 entries, Game1 to Game1000056
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   BlackElo       410502 non-null  object
 1   WhiteElo       410502 non-null  object
 2   moves          410502 non-null  object
 3   move_num       410502 non-null  object
 4   winner         410502 non-null  object
 5   Black_Elo_Num  410502 non-null  int64
 6   White_Elo_Num  410502 non-null  int64
dtypes: int64(2), object(5)
memory usage: 25.1+ MB

In [31]:
with open('2014_09_over_1600_chess_data.pickle', 'wb') as to_write:
        pickle.dump(over_1600, to_write)

In [24]:
over_1800 = over_1600[(over_1600['White_Elo_Num'] >= 1800) & (over_1600['Black_Elo_Num'] >= 1800)]
over_1800.info()

<class 'pandas.core.frame.DataFrame'>
Index: 137126 entries, Game1 to Game1000055
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   BlackElo       137126 non-null  object
 1   WhiteElo       137126 non-null  object
 2   moves          137126 non-null  object
 3   move_num       137126 non-null  object
 4   winner         137126 non-null  object
 5   Black_Elo_Num  137126 non-null  int64
 6   White_Elo_Num  137126 non-null  int64
dtypes: int64(2), object(5)
memory usage: 8.4+ MB

In [32]:
with open('2014_09_over_1800_chess_data.pickle', 'wb') as to_write:
        pickle.dump(over_1800, to_write)

In [25]:
over_2000 = over_1800[(over_1800['White_Elo_Num'] >= 2000) & (over_1800['Black_Elo_Num'] >= 2000)]
over_2000.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27780 entries, Game11 to Game1000025
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BlackElo       27780 non-null  object
 1   WhiteElo       27780 non-null  object
 2   moves          27780 non-null  object
 3   move_num       27780 non-null  object
 4   winner         27780 non-null  object
 5   Black_Elo_Num  27780 non-null  int64
 6   White_Elo_Num  27780 non-null  int64
dtypes: int64(2), object(5)
memory usage: 1.7+ MB

In [33]:
with open('2014_09_over_2000_chess_data.pickle', 'wb') as to_write:
        pickle.dump(over_2000, to_write)

In [29]:
over_2400 = over_2000[(over_2000['White_Elo_Num'] >= 2400) & (over_2000['Black_Elo_Num'] >= 2400)]
over_2400.info()

<class 'pandas.core.frame.DataFrame'>
Index: 249 entries, Game234 to Game999975
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BlackElo       249 non-null    object
 1   WhiteElo       249 non-null    object
 2   moves          249 non-null    object
 3   move_num       249 non-null    object
 4   winner         249 non-null    object
 5   Black_Elo_Num  249 non-null    int64
 6   White_Elo_Num  249 non-null    int64
dtypes: int64(2), object(5)
memory usage: 15.6+ KB

In [34]:
with open('2014_09_over_2400_chess_data.pickle', 'wb') as to_write:
        pickle.dump(over_2400, to_write)